<%- include('partials/nav.ejs') %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">


        <% if (reqs) { %>
          <% for( let index=0; index < reqs.length; index++ ) { %>

            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title" id="<%-reqs[index].name%>" >
                    <%= reqs[index].name %>
                  </h5>
                  <% 
                    let counter = 0;
                    for( let j=0; j < classes.length; j++ ) {  %>

                    <% if (reqs[index].name===classes[j].requirement) { counter = counter + 1; %>

                      <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">
                          <%= classes[j].name %>
                        </p>
                        <small class="text-muted">
                          <%= classes[j].credits %> hrs
                        </small>
                      </div>
                      <% } %>
                        <% } %>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <%= reqs[index].amount %> Classes Required
                  </small>
                </div>
              </div>
            </div>
            <% if (reqs[index].amount > counter) { %>
              <% } %>
            <% } %>
          <% } %>
      </div>
    </div>
  </div>

  <% include('partials/footer.ejs') %>
    </body>

    </html>